In [6]:
import pandas as pd
import numpy as np

path = "../../../../datasets/raw/DS-001_Messy_Employee_Dataset.csv"
df = pd.read_csv(path)

df.shape, df.head()
df.info()
df.describe(include="all").T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        1020 non-null   object
 1   First_Name         1020 non-null   object
 2   Last_Name          1020 non-null   object
 3   Age                809 non-null    float64
 4   Department_Region  1020 non-null   object
 5   Status             1020 non-null   object
 6   Join_Date          1020 non-null   object
 7   Salary             996 non-null    float64
 8   Email              1020 non-null   object
 9   Phone              1020 non-null   int64
 10  Performance_Score  1020 non-null   object
 11  Remote_Work        1020 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 88.8+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Employee_ID,1020,1020,EMP1000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
First_Name,1020,8,Frank,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last_Name,1020,8,Brown,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,809.0,NaN,NaN,NaN,32.484549,5.65686,25.0,25.0,30.0,40.0,40.0
Department_Region,1020,36,HR-Florida,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,1020,3,Pending,356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Join_Date,1020,760,6/10/2024,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salary,996.0,NaN,NaN,NaN,85155.056396,19873.727918,50047.32,68392.4875,85547.87,100974.0275,119971.65
Email,1020,64,grace.brown@example.com,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone,1020.0,NaN,NaN,NaN,-4942252959.221569,2817326049.742002,-9994973202.0,-7341991816.5,-4943996508.5,-2520390678.75,-3896086.0
Performance_Score,1020,4,Good,270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Remote_Work,1020,2,True,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN